body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 80px 0;
}

header {
  padding: 20px 0;
}
header .menu .imgbox {
  width: 40px;
}
header .menu nav a {
  font-size: 20px;
  color: #8c8999;
  margin-right: 30px;
}
header .menu nav a:hover {
  color: #74bebc;
  cursor: pointer;
}
header .menu .buttons {
  display: none;
}
header .menu .buttons .btn {
  margin: 0 5px;
  font-size: 20px;
  background-color: #f2f2f4;
}
header .menu .buttons .btn:hover {
  color: #74bebc;
  cursor: pointer;
}
header .menu .buttons .shop {
  color: white;
  background-color: #37b9bd;
}
@media (max-width: 992px) {
  header .menu nav {
    display: none;
  }
  header .menu .buttons {
    display: flex;
  }
  header .menu .buttons .shop {
    display: none;
  }
  header .menu .btn {
    display: block;
  }
}
@media (max-width: 430px) {
  header .menu .buttons .shop {
    display: block;
  }
}

#beautiful {
  background-image: url(Assets/10.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 90px 0;
}
#beautiful .box {
  margin: 0 80px 60px 0;
}
#beautiful .box h1 {
  font-weight: 700;
  font-size: 68px;
}
#beautiful .box span {
  color: #37b7c3;
  cursor: pointer;
}
#beautiful .box h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#beautiful .box .btn {
  padding: 13px 30px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #38b6c1;
  color: white;
  margin-bottom: 20px;
}
#beautiful .box .btn h2 {
  cursor: pointer;
}
#beautiful .box .imgbox {
  width: 120px;
}
#beautiful .box h4 {
  font-size: 20px;
  margin-top: 10px;
}
#beautiful .burger .imgbox {
  margin-left: 50px;
}
@media (max-width: 992px) {
  #beautiful {
    background-position: right top;
    background-size: auto;
  }
  #beautiful .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px 100px;
  }
  #beautiful .box h1 {
    padding: 0 50px;
  }
  #beautiful .box h5 {
    font-size: 22px;
  }
  #beautiful .box .btn {
    padding: 15px 45px;
    font-size: 22px;
  }
  #beautiful .box .imgbox {
    margin-top: 10px;
  }
  #beautiful .box h4 {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  #beautiful .box h1 {
    font-size: 65px;
  }
  #beautiful .box h5 {
    margin: 30px 0 60px;
  }
  #beautiful .box .btn {
    padding: 20px 50px;
  }
}
@media (max-width: 430px) {
  #beautiful {
    padding: 50px 0;
  }
  #beautiful .box h1 {
    padding: 0;
    font-size: 60px;
  }
  #beautiful .box h5 {
    margin: 40px 0 70px;
  }
  #beautiful .box .btn {
    font-size: 25px;
  }
}

#thehome {
  background-color: #f1f8f9;
  padding: 90px 0;
}
#thehome .textbox {
  width: 370px;
  margin-bottom: 60px;
}
#thehome .textbox h1 {
  color: #36b3bd;
  font-size: 60px;
  font-weight: 700;
}
#thehome .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#thehome .textbox .btn {
  padding: 13px 30px;
  background-color: #38b6c1;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
#thehome .textbox .btn, #thehome .textbox h2 {
  cursor: pointer;
}
#thehome .imgbox {
  width: 100%;
  margin-left: 20px;
}
@media (max-width: 992px) {
  #thehome .col-md-6 {
    width: 100%;
  }
  #thehome .textbox {
    text-align: center;
    width: 500px;
  }
  #thehome .textbox h1 {
    font-size: 72px;
  }
  #thehome .textbox h5 {
    font-size: 22px;
  }
  #thehome .textbox .btn {
    padding: 18px 40px;
  }
  #thehome .imgbox {
    margin: 0;
    width: auto;
  }
  #thehome .imgbox img {
    width: 100%;
  }
}
@media (max-width: 430px) {
  #thehome .textbox h1 {
    font-size: 70px;
  }
  #thehome .textbox h5 {
    font-size: 24px;
  }
  #thehome .textbox .btn {
    font-size: 28px;
    padding: 24px 72px;
  }
}

#works h1 {
  font-weight: 700;
  font-size: 60px;
  color: #36b3bd;
  margin-bottom: 60px;
}
#works .box .imgbox {
  width: 100%;
}
#works .box .textbox {
  padding: 15px 45px;
}
#works .box .textbox h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 9px;
}
#works .box .textbox h4 {
  font-size: 20px;
  color: #676f8b;
  line-height: 1.3;
}
@media (max-width: 992px) {
  #works .col-md-4 {
    width: 100%;
  }
  #works .box {
    margin-bottom: 100px;
  }
  #works .box .textbox {
    padding: 40px 110px;
  }
  #works .box .textbox h2 {
    font-size: 27px;
  }
  #works .box .textbox h4 {
    font-size: 23px;
  }
  #works .box .imgbox {
    display: flex;
    justify-content: center;
  }
  #works .box .imgbox img {
    width: 500px;
  }
}
@media (max-width: 768px) {
  #works .box .imgbox img {
    width: 100%;
  }
}
@media (max-width: 430px) {
  #works .box {
    margin: 70px 0;
  }
  #works .box .imgbox img {
    width: 200px;
  }
  #works .box .textbox {
    padding: 15px 47px;
  }
  #works .box .textbox h2 {
    font-size: 28px;
    margin: 40px 0 15px;
  }
  #works .box .textbox h4 {
    font-size: 23px;
  }
}

#browse {
  background-color: #f5fbfc;
  padding: 90px 0;
}
#browse .textbox {
  text-align: center;
  width: 500px;
}
#browse .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  color: #3cc1d8;
}
#browse .textbox h4 {
  font-size: 20px;
  color: #6c7480;
  margin: 20px 0;
  line-height: 1.2;
}
#browse .textbox h4 span {
  color: #3cc1d8;
  text-decoration-line: underline;
}
#browse .btn {
  font-size: 18px;
  border: 0.5px solid #bdbdbd;
  padding: 15px 46px;
  margin: 0 20px;
  border-radius: 5px;
}
#browse .btn:hover {
  background-color: #3cc1d8;
  color: white;
}
#browse .btn, #browse h3 {
  cursor: pointer;
}
#browse .box {
  padding: 30px;
}
#browse .box .imgbox {
  width: 150px;
  border-radius: 10px;
}
#browse .box .textbox {
  text-align: left;
  margin-left: 20px;
}
#browse .box .textbox .minibox h2 {
  font-size: 22px;
  font-weight: 700;
}
#browse .box .textbox .minibox h5 {
  color: #3cc1d8;
  font-size: 18px;
}
#browse .box .textbox p {
  margin: 15px 0;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(35, 47, 66, 0.5215686275);
}
#browse .box .textbox .add {
  display: flex;
  align-items: center;
}
#browse .box .textbox .add input {
  border: 1px solid #e1e1e1;
  background-color: #e9e9e9;
  width: 50px;
}
#browse .box .textbox .add .btn {
  background-color: #3cc1d8;
  color: white;
  padding: 7px 20px;
}
#browse .big {
  padding: 17px 53px;
  margin-top: 50px;
}
#browse .box {
  display: flex;
  align-items: center;
  border: 2px solid rgba(233, 233, 233, 0.8705882353);
  background-color: #ffffff;
  border-radius: 5px;
  margin: 15px 40px;
}
#browse .box .textbox {
  width: 100%;
}
#browse .box .textbox .minibox h2 {
  font-size: 24px;
}
@media (max-width: 768px) {
  #browse h4 {
    font-size: 21px;
  }
  #browse .menu {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #browse .menu .btn {
    border: 1px solid rgba(233, 233, 233, 0.8705882353);
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 10px 20px;
  }
  #browse .box {
    margin: 5px 0;
    padding: 20px;
    flex-wrap: wrap;
  }
  #browse .box .imgbox {
    width: 100%;
  }
  #browse .box .textbox {
    margin-left: 0;
  }
  #browse .box .textbox .minibox {
    flex-direction: column;
  }
  #browse .box .textbox .minibox h2 {
    margin: 20px 0;
  }
  #browse .box .textbox .add input {
    height: 43px;
  }
}
@media (max-width: 490px) {
  #browse .textbox h1 {
    padding: 0 40px;
  }
  #browse .textbox h4 {
    font-size: 24px;
    padding: 0 40px;
  }
  #browse .menu {
    flex-direction: column;
  }
  #browse .col-lg-6 {
    display: flex;
    justify-content: center;
  }
  #browse .col-lg-6 .box {
    width: 300px;
  }
}

#order .textbox {
  width: 400px;
}
#order .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: #36b3bd;
}
#order .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#order .textbox .btn {
  color: white;
  font-size: 20px;
  background-color: #38b6c1;
  padding: 13px 34px;
  border-radius: 5px;
}
#order .textbox .btn, #order .textbox h2 {
  cursor: pointer;
}
@media (max-width: 992px) {
  #order .col-md-6 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #order .textbox {
    width: 100%;
    text-align: center;
  }
  #order .textbox h1 {
    padding: 0 120px;
  }
  #order .textbox h5 {
    font-size: 24px;
    padding: 0 80px;
  }
  #order .imgbox {
    width: 750px;
  }
  #order .imgbox img {
    margin-bottom: 100px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  #order .textbox h1, #order .textbox h5 {
    padding: 0 50px;
  }
}
@media (max-width: 440px) {
  #order .textbox h1 {
    font-size: 58px;
  }
  #order .textbox h5 {
    font-size: 20px;
  }
  #order .textbox h1, #order .textbox h5 {
    padding: 0 20px;
  }
  #order .textbox .btn {
    font-size: 24px;
    padding: 20px 70px;
  }
  #order .imgbox img {
    margin-bottom: 0;
  }
}

#callour {
  background-color: #f1f8f9;
}
#callour .textbox h1 {
  font-size: 65px;
  font-weight: 700;
  color: #36b3bd;
}
#callour .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#callour .textbox .btn {
  font-size: 20px;
  color: white;
  background-color: #38b6c1;
  padding: 13px 34px;
  margin-bottom: 40px;
}
#callour .imgbox {
  width: auto;
}
@media (max-width: 992px) {
  #callour .col-md-6 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #callour .textbox {
    text-align: center;
  }
  #callour .textbox h1 {
    padding: 0 120px;
  }
  #callour .textbox h5 {
    font-size: 24px;
    padding: 0 80px;
  }
  #callour .textbox .btn {
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  #callour .textbox h1, #callour .textbox h5 {
    padding: 0 50px;
  }
}
@media (max-width: 440px) {
  #callour .textbox h1 {
    font-size: 58px;
  }
  #callour .textbox h5 {
    font-size: 22px;
  }
  #callour .textbox h1, #callour .textbox h5 {
    padding: 0 20px;
  }
  #callour .textbox .btn {
    padding: 20px 70px;
  }
}

#support .textbox {
  padding: 0 80px;
}
#support .textbox h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1;
}
#support .textbox span {
  color: rgba(36, 102, 114, 0.5137254902);
}
#support .textbox .btn {
  font-size: 22px;
  color: #38b6c1;
  padding: 10px 30px;
  background-color: white;
  margin: 30px 0;
}
#support .bgc {
  background-color: #35b6c1;
}
@media screen and (max-width: 992px) {
  #support .imgbox {
    margin-bottom: 50px;
  }
  #support .textbox {
    padding: 50px 30px;
  }
}/*# sourceMappingURL=style.css.map */